Repository revue-org/revue, pull requests merged in 2024-01, with the labels that each got.

#26 feature/notification-simulation
  alarm/db/alarm-init.js
  alarm/package-lock.json
  alarm/package.json
  alarm/src/controller/simulation.ts
  alarm/src/index.ts
  alarm/src/routes/simulation.ts
  alarm/src/simulation.ts
  frontend/src/components/devices/NewDevicePopup.vue
  frontend/src/components/security-rule/NewSecurityRulePopup.vue
  frontend/src/main.ts
  frontend/src/socket.ts
  frontend/src/views/HomeView.vue
  frontend/src/views/MonitoringView.vue
  monitoring/src/index.ts
Labels: enhancement

#27 feature/update-device-rules
  frontend/src/components/devices/DeviceBadge.vue
  frontend/src/components/devices/NewDevicePopup.vue
  frontend/src/components/devices/UpdateDevicePopup.vue
  frontend/src/components/security-rule/SecurityRuleBadge.vue
  frontend/src/views/DevicesView.vue
  frontend/src/views/SecurityRuleView.vue
Labels: enhancement

#28 Refactor kafka subscriptions, link devices data to services
  camera/docker-compose.yml
  camera/src/producer.ts
  domain/src/domain/device/repositories/DeviceRepository.ts
  domain/src/storage/device/DeviceRepositoryImpl.ts
  domain/src/utils/DeviceTypeConverter.ts
  frontend/src/components/devices/SensorData.vue
  frontend/src/socket.ts
  frontend/src/stores/topics.ts
  frontend/src/topics.ts
  frontend/src/views/DevicesView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/MonitoringView.vue
  monitoring/db/device-init.js
  monitoring/src/consumer.ts
  monitoring/src/controller/device.ts
  monitoring/src/index.ts
  monitoring/src/routes/device.ts
  monitoring/test/device/device.get.test.ts
  monitoring/vitest.config.mjs
  sensor/docker-compose.yml
  sensor/package-lock.json
  sensor/package.json
  sensor/src/index.ts
  sensor/src/producer.ts
  sensor/src/utils/RequestHelper.ts
Labels: enhancement, frontend

#30 feature/fix-test
  alarm/package.json
  auth/package.json
  auth/test/resources/userSample.ts
  auth/test/user/user.post.test.ts
  monitoring/package-lock.json
  monitoring/package.json
  monitoring/src/index.ts
  monitoring/test/device/device.delete.test.ts
  monitoring/test/device/device.get.test.ts
Labels: test, fix

#31 feature/frontend-popups
  domain/src/utils/AnomalyTypeConverter.ts
  domain/src/utils/ContactTypeConverter.ts
  domain/src/utils/MeasureConverter.ts
  domain/src/utils/ObjectClassConverter.ts
  frontend/src/components/devices/DeviceBadge.vue
  frontend/src/components/devices/UpdateDevicePopup.vue
  frontend/src/components/security-rule/SecurityRuleBadge.vue
  frontend/src/components/security-rule/UpdateSecurityRulePopup.vue
  frontend/src/scripts/Popups.ts
  frontend/src/scripts/presentation/device/ComposeDevice.ts
  frontend/src/scripts/presentation/notification/ComposeNotification.ts
  frontend/src/scripts/presentation/security-rule/ComposeSecurityRule.ts
  frontend/src/views/DevicesView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/NotificationView.vue
  frontend/src/views/SecurityRuleView.vue
Labels: enhancement, frontend

#32 Add real time chart in frontend
  frontend/src/components/charts/LineChart.vue
  frontend/src/components/devices/SensorData.vue
  frontend/src/topics.ts
Labels: frontend
